* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    margin: 4rem 15%;
}

p {
    padding: 10px 0px;
    line-height: 1.6; 
}

.top-section {
    display:flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size:large;
    padding: 10px 0px;
    opacity: 0.8;
    line-height: 2.5rem;
}

.hero-section {
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}




.hero-heading-main {
    font-size: 6rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.hero-heading-main-highlight{
    color: #DEAC80;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.hero-main-content {
    padding: 10px 0px;
}

.hero-rest {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-main{
    flex:3;
}

.hero-main-content-image{
    width: 95%;
}

.hero-main-description {
    padding: 10px 0px;
}

.hero-main-description-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-aside{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-aside-summary{
    flex-grow: 1;
    padding: 10px 0px;
}

.hero-aside-summary-heading{
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
}

.hero-aside-summary-image{
    width: 100%;
}

.hero-explore{
    padding: 16px 0px;
    flex-grow: 1;
}

.hero-explore-heading{
    font-size: 2.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-footer{
    display: flex;
    justify-content: space-around;
}


.button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #DEAC80;
    text-decoration: none;
    border-radius: 25px;
}

.button:hover {
    background-color: #c4996e;
}



@media only screen and (max-width:768px) {

    body {
        margin: 2rem 5%;
    }

    .hero-rest {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-heading-main {
        font-size: 4rem;
    }

    .hero-main-content-image{
        width: 100%;
    }
}


@media only screen and (min-width:780px){

    .hero-heading{
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .hero-rest{
        padding-top: 0px;
    }

    .hero-aside{
        border-left: 2px solid rgba(0, 0, 0, 0.2);
        padding-left: 2rem;
    }
    
    .top-section{
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    
    #one{
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        padding-right: 15%;
    }
    #two{
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        padding-right: 15%;
    }
}